<html>
<body>
	<table border="0">
		<tr>
			<td width = "450" height="50"  align="center"><img src="/media/img.png" width="420" height="320"></td>
			<td width = "450" height="50" align="center"><img src="/media/depth.png" width="420" height="320"></td>
		</tr>
		<tr>
			<td width = "450" height="50"  align="center">source picture</td>
			<td width = "450" height="50" align="center">depth map</td>
		</tr>
		<tr>
			<td width = "450" height="50" align="center"><img src="/media/avg_color.png" width="420" height="320"></td>
			<td width = "450" height="50" align="center"><img src="/media/box.png" width="420" height="320"></td>
		</tr>
		<tr>
			<td width = "450" height="50"  align="center">plane with average color</td>
			<td width = "450" height="50" align= "center">plane with bounding box</td>
		</tr>
	</table>
</body>
</html>
